.tarjeta {
  background-color: #226666;
  border: none;
  border-radius: 12px;
  box-shadow: 2px 6px 8px 2px rgb(0 0 0 / 30%);
  color: whitesmoke;
  height: auto;
  margin: 0 auto;
  padding-top: 4px;
  position: relative;
  width: 200px;
}

.boton {
  background-color: #008383;
  border: none;
  border-radius: 8px;
  color: whitesmoke;
  font-weight: bold;
  height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 8px;
  text-align: center;
  top: 8px;
  width: 30px;
  transition: 300ms;
}
.boton:hover {
  background-color: #365757;
  color: rgba(245, 245, 245, 0.75);
}

.titulo {
  margin: 24px auto;
  width: 100%;
}

.temperaturaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.temperaturaContainer p {
  margin-bottom: 0;
}

.temperaturaContainer div {
  margin: 0 12px;
}
