.boton {
  background-color: #008383;
  border: none;
  border-radius: 8px;
  color: whitesmoke;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  margin: 0;
  margin-left: 18px;
  padding: 0;
  text-align: center;
  width: 84px;
  transition: 300ms;
}
.boton:hover {
  background-color: #365757;
  color: rgba(245, 245, 245, 0.8);
}
.barra {
  background-color: rgba(245, 245, 245, 0.8);
  border: 2px solid #226666;
  border-radius: 8px;
  color: #424949;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  min-width: 200px;
  padding-left: 10px;
  outline: none;
  width: 40%;
}
