.detalles {
  background-color: #226666;
  color: white;
  height: 80vh;
  margin-top: -12px;
  padding-top: 12px;
  width: 100%;
}

.detalles h4 {
  font-size: 28px;
}

.detalles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.detalles ul li {
  margin-bottom: 12px;
}

.detalles ul li h6 {
  display: inline-block;
}

@media screen and (min-width: 700px) {
  .detalles {
    height: 90vh;
  }

  .detalles h4 {
    font-size: 40px;
  }

  .detalles ul li span, .detalles ul li h6 {
    font-size: 24px;
  }
}
