.cardsContainer {
  background-image: url('https://res.cloudinary.com/cristianblar/image/upload/v1621975889/Portfolio/main_background_ozwrqs.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  padding: 8px;
  padding-top: 24px;
  width: 100%;
}

.cardsContainer ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.cardsContainer ul li {
  list-style: none;
  margin: 8px;
}

@media screen and (min-width: 700px) {
  .cardsContainer {
    min-height: 90vh;
  }
}