.navContainer {
  align-items: center;
  background-color: #0f1212;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  padding: 12px;
  width: 100%;
}

.navLeft {
  color: white;
  font-weight: 700;
  margin-bottom: 12px;
}

.navLeft span {
  line-height: 36px;
  margin-left: 12px;
}

.linksContainer {
  margin-bottom: 12px;
  width: 100%;
}

.linksContainer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 auto;
  max-width: 280px;
  padding: 0;
  width: 100%;
}

.linksContainer ul li a {
  color: white;
  font-weight: 400;
}

.linksContainer ul li span {
  display: block;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

@media screen and (min-width: 700px) {
  .navContainer {
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
    padding: 0 12px;
  }

  .navLeft {
    margin-bottom: 0;
  }

  .linksContainer {
    margin-bottom: 0;
    width: 25%;
  }

  .linksContainer ul {
    justify-content: space-between;
    max-width: unset;
    width: 100%;
  }
}
