.cnt {
  padding-top: 10px;
}

.noMovies-message {
  font-weight: 500;
  padding-left: 24px;
}
.list-container {
  height: auto;
  padding: 24px;
  width: 100vw;
}

.list-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list-container ul li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 80%;
}

.list-container ul li a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.list-container ul li a:hover {
  text-decoration: underline;
}

.list-container ul li button {
  background-color: black;
  border: 1px black solid;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 20;
  width: 20px;
}
.list-container ul li button:hover {
  color: black;
  background-color: white;
}
